{%extends 'layouts.html'%}

 {% block content %}
 <div class="container">
   <div class="row">
    <div class="modal-body text-center">

      <img class="card-img-top" id="img{{image.id}}" src="{{image.image.url}}" height="160px" alt="Card image cap">
      <p class="card-text photo">Description : {{image.image_description}}.</p>
      <p class="card-text shot">Location : {{image.location}}</p>
      <p class="card-text cate">Category : {{image.category}}</p>
      <p class="text-center">Posted {{image.pub_date|timesince}} </p>

      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
          <input id="{{image.id}}-url" class="form-control input-md responsive" type="text" value="{{image.image.url}}">
      </div>
      <button type="button" class="btn btn-outline-dark mt-2" onclick="copy('#{{image.id}}-url')">Copy</button>

  </div>
   </div>
 </div>


<script>
    function copyLink(id) {
      /* Get the text field */
      var copyText = document.getElementById( "thislinkhere-" + id );
      /* Select the text field */
      copyText.select();
      /* Copy the text inside the text field */
      document.execCommand( "copy" );
      /* Alert the copied text */
      alert( "Do you want to share this link?: " + copyText.value );
    }
  </script>


 {% endblock %}